.profile-data{
    padding-left: 30px;
    display: flex;
    flex-direction: row;
}

h1{
    display: inline-block;
}

.heading{
    font-size: small;
    display: inline-block;
}
.value{
    display: inline-block;
    font-size: larger;
    width: 350px;
    background-color: rgb(228, 228, 228);
    padding: 2%;
}

.personal-details{
    /* width: 33%; */
    width: 450px;
    margin-right: 100px;
}

.details{
    margin-left: 5%;
    line-height: 150%;
}

.material-symbols-outlined{
    margin-left:60%;
}

.buttons-div{
    float: right;
}
.box-button-red{
    margin-left: 10px;
}

/* ----- */

.order-history{
    width: 50%;
}

tr, td{
    padding: 7px;
    margin: 7px;
}

p>span{
    margin-right: 30px;
}

.order-card>p{
    float: right;
}

table{
    width: 80%;
    text-align: center;
    line-height: 150%;
}

.order-card{
    margin: 2%;
    width: 93%;
    height: 20%;
    padding: 18px;
    box-shadow: 2px 2px 10px 3px #afafaf;
}

.order-total{
    font-size: 140%;
}

th{
    font-style: italic;
    font-size: 90%;
}