<div #login_component id="login_component">
    <p>Login to start using the application</p>
    <form class="login-form form">
        <span class="user-error error"></span>
        <br>
        <input type="text" [(ngModel)]="loginDetails.username" name="username" placeholder="Username">
        <br>
        <br>
        <input type="password" name="password" [(ngModel)]="loginDetails.password" placeholder="Password">
        <br>
        <br>
        <select #user_type name="user-role" id="user-role" [(ngModel)]="loginDetails.user_role" (change)="changeUserType()">
            <option disabled selected value> -- Login As -- </option>
            <option value="Lead">LEAD</option>
            <option value="Client">CLIENT</option>
            <option value="admin">Admin</option>
        </select>
        <br>
        <div class="remember-me">
            <input type="checkbox" id="remember-me" name="remember_me" [(ngModel)]="loginDetails.remember_me">
            <p>Remember me</p>
        </div>
        <br>
        <button (click)="loginSubmit()" class="box-button">Login</button>
    </form>
    <div class="inline">
        <p>Signup instead</p>
        <button routerLink="/signup" class="no-box-button">Signup</button>
    </div>
</div>