.checked{
    color: orange;
}

.popup{
    background-color: rgb(207, 207, 207);
    width: 420px;
    padding: 20px 20px;
    position: fixed;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    text-align: center;
    filter: blur(0px);
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
}

.options{
    float: right;
}

.box-button-red{
    margin-right: 15px;
}

.fa-star{
    font-size: 150%;
    margin-left: 10px;
}

.fa-star:hover{
    color: rgba(255, 165, 0, 0.7);
}